@using LinkDotNet.Blog.Web.Features.AboutMe.Components.Skill
@using LinkDotNet.Blog.Web.Features.AboutMe.Components.Talk

<div class="col-lg-9 col-md-8 tab-container">
    <ul class="nav nav-pills nav-underline border-bottom justify-content-around" id="aboutMe" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active btn-primary btn-light" id="pills-talks-tab" data-bs-toggle="pill" data-bs-target="#pills-talks" type="button" role="tab" aria-controls="pills-talks" aria-selected="true">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-primary btn-light" id="pills-skills-tab" data-bs-toggle="pill" data-bs-target="#pills-skills" type="button" role="tab" aria-controls="pills-skills" aria-selected="false">Body of work</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pills-talks" role="tabpanel" aria-labelledby="pills-talks-tab" tabindex="0">
            <Talks ShowAdminActions="@IsAuthenticated" ProfileId="@ProfileId"></Talks>
        </div>
        <div class="tab-pane fade" id="pills-skills" role="tabpanel" aria-labelledby="pills-skills-tab" tabindex="0">
            <SkillTable ShowAdminActions="@IsAuthenticated" ProfileId="@ProfileId"></SkillTable>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsAuthenticated { get; set; }

    [Parameter]
    public string ProfileId { get; set; } = string.Empty;
}
